 

  <!-- <mat-accordion multi="true" *ngIf="symbols.length > 0">
    <mat-expansion-panel *ngFor="let watch of symbols">
   
   
      <mat-action-row>
        
        <button mat-button color="warn" (click)="onDelete(watch.id)">DELETE</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion> -->
  <!-- <p class="info-text mat-body-1" *ngIf="symbols.length <= 0">No posts added yet!</p> -->

  <div class="container" padding=2>
    <h2>Watch List</h2>
      <table class="table table-dark">
          <tbody class="watchlist-cards">
            <tr *ngFor="let watch of symbols">
              <mat-card [class.mat-elevation-z2]="!isActive">
                <mat-card-title>
                  <!-- <img mat-card-avatar class="header-image" src="./assets/color/{{watch.symbols | lowercase}}.svg"> &nbsp;&nbsp; -->
                  <button class="watchlist-symbols" title="{{watch.id}}">{{watch.symbols}}</button>
                  <button (click)="onDelete(watch.id)" class="delete" title="delete stock">X</button>
                </mat-card-title>
              </mat-card>
            </tr>
          </tbody>
        </table>
  </div>
